body {
    font-family: Arial, sans-serif;
    background-color: rgb(202, 234, 247);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(173, 232, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    display: flex;
    margin: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    justify-content: center;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
